.wrapper {
    position: fixed;
    inset: 0;
    background: $gradient;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;
}

.content {
    background: $white;
    padding: 24px;
    border-radius: 8px;
    width: 450px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;

    .textBox {
        margin-bottom: 27px;
    }
    .title {
        display: flex;
        justify-content: left;
        align-items: center;
        gap: 9px;
        margin-bottom: 8px;
    }

    .form {
        display: flex;
        flex-direction: column;
        gap: 10px;

        .field {
            width: 100%;
            display: flex;
            flex-direction: column;
            gap: 6px;
        }
    }
}
