.container {
    max-width: 1440px;
    width: 100%;
    margin: 0 auto;
    padding: 0px 100px;
    @include Tablet {
        padding: 0 48px;
    }

    @include Mobile {
        padding: 0 20px;
    }
}
