$breakpoint-tablet: 992px;
$breakpoint-mobile: 756px;

@mixin Tablet {
    @media (max-width: $breakpoint-tablet) {
        @content;
    }
}

@mixin Mobile {
    @media (max-width: $breakpoint-mobile) {
        @content;
    }
}
