.platformSection {
    padding: 80px;
    background-color: $white;
    text-align: center;
    @include Mobile {
        padding: 32px;
    }
}

.titleMain {
    background: $gradient;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-bottom: 16px;
}

.card {
    width: 280px;
    height: 300px;
    background-color: #fff;
    text-align: center;
    padding: 24px;
    transition: all 0.3s ease;
    border-radius: 8px;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
    &:hover {
        box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
        transform: translateY(-4px);
    }
    @include Tablet {
        width: 100%;
    }
}

.iconWrapper {
    width: 64px;
    height: 64px;
    border-radius: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto 16px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.icon {
    width: 32px;
    height: 32px;
    color: white;
}

.title {
    font-size: 20px;
    margin-bottom: 12px;
}

.description {
    color: #4b5563;
    line-height: 1.6;
}

.listPlatform {
    margin-top: 64px;
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 38px;
    @include Mobile {
        flex-direction: column;
    }
    @include Tablet {
        flex-direction: column;
    }
}

.subtitle {
    margin-top: 8px;
    color: #6b7280;
    width: 75%;
    margin: 0 auto;
}
